/* CSS declarations go here */

body {
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.container {
  /*display: inline-block;*/
  max-width: 300px;
  margin: 0 auto;
}

ul.unstiled {
  list-style-type: none;
}

.answer {
  display: inline-block;
  border-radius: 40%;
  padding: 5px;

  color: white;
  background-color: green;
}

.smile {
  display: inline-block;
  border-radius: 40%;
  padding: 5px;

  color: black;
  background-color: lightgray;
}
