/* CSS declarations go here */

body {
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.container {
  /*display: inline-block;*/
  max-width: 300px;
  margin: 0 auto;
}
